{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["src/**/*.ts", "src/**/*.js", "src/**/*.jsx"],
      "options": {
        "semi": false,
        "arrowParens": "avoid"
      }
    }
  ]
}
